<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate Configuration DTD 3.0//EN"  
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
<hibernate-configuration> 
    <session-factory> 
        <property name="hibernate.hbm2ddl.auto">update</property> 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="show_sql">true</property>
        <mapping class="com.i2i.sms.model.Student" />
        <mapping class="com.i2i.sms.model.Grade" />
        <mapping class="com.i2i.sms.model.Address" />
        <mapping class="com.i2i.sms.model.Club" />
    </session-factory> 
</hibernate-configuration>